html {
    box-sizing: border-box;
    background-color: hsl(7, 87%, 94%);
}

*, *::before, *::after {
    box-sizing: inherit;
}

.display,
.top,
.container {
    display: flex;
    align-items: center;
}

.container,
.top {
    justify-content: center;
}

.btn,
.wipe,
.equal{
    background-color: hsl(180, 75%, 78%);
}

.container {
    flex-wrap: wrap;
    margin-top: 100px;
    width: 450px;
    height: 550px;
    background-color: hsl(216, 100%, 80%);
}

h1 {
    text-align: center;
    font-size: 40px;
    color: hsl(320, 7%, 35%);
}

.display {
    justify-content: flex-end;
    background-color: hsl(0, 0%, 80%);
    width: 400px;
    height: 100px;
    padding: 15px;
    border: 1px solid gray;
}

.operator {
    background-color: hsl(160, 63%, 87%);
}

button {
    height: 80px;
    width: 100px;
    font-size: 25px;
    border-radius: 25px;
    border-color: hsl(216, 100%, 80%);
}