html {
    box-sizing: border-box;
    background-color: hsl(7, 87%, 94%);
}

*, *::before, *::after {
    box-sizing: inherit;
}

.display,
.top,
.container {
    display: flex;
    align-items: center;
}

.container,
.top {
    justify-content: center;
}

.btn,
.wipe,
.equal{
    background-color: white;
}

.container {
    flex-wrap: wrap;
    margin-top: 100px;
    width: 440px;
    background-color: black;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: hsl(320, 7%, 35%);
}

.display {
    justify-content: flex-end;
    background-color: white;
    width: 380px;
    height: 100px;
    padding: 15px;
    /* border: 1px solid white; */
}

.operator {
    background-color: white;
}

button {
    /* height: 80px; */
    width: 90px;
    font-size: 2.5rem;
    font-weight: 900;
    border-radius: 100%;
    border: none;
    position: relative;
    padding: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    top: 5px;
}

@media (max-width: 470px){
    .container {
        width: 90%;
    }
    button {
        width: 21%;
        font-size: 1.6rem;
        border-radius: 40%;
    }

}

@media (max-width: 375px) {
    .container {
        width: 100%;
    }
}